.nn-profile{
    color: #000;
    @include clearfix();
}

.profile-content{
    @media (min-width: $screen-w--sx) {
        width: 65%;
        float: left;
    }
}

.profile-title{
    margin-bottom: 10px;
    font-family: 'Futura New Demi';
    font-size: 22px;
}

.profile-name{
    margin-bottom: 20px;
    font-family: 'Futura New Demi';
    font-size: 22px;
}

.profile-text{
    font-size: 18px;
}

.profile-info{
    margin-bottom: 35px;
}

.profile-info__item{
    margin-bottom: 25px;
}

.profile-info__title{
    font-size: 14px;
    color: #95989a;
}

.profile-info__value{
    font-family: 'Futura New Demi';
    font-size: 22px;
}

.list-profile{
    font-size: 14px;

    li{
        margin-bottom: 15px;
    }

    @media (min-width: $screen-w--sx) {
        width: 30%;
        float: right;
    }
}

.profile-link{
    color: $color-green;
    text-decoration: none;
    transition: color .2s linear;

    &.is-unhover{
        color: rgba(0, 150, 133, .7)
    }

    &.is-hover{
        color: $color-green;
    }
}
