.nn-analysis
    .nn-analysis__remove.ajax-link(data-content="profile6.html")
        i.icon-garbage
        | Удалить из ЛК
    .nn-analysis__control
        i.nn-analysis__control-i
        i.nn-analysis__control-i
        i.nn-analysis__control-i
    a(href="#").nn-analysis__body.ajax-link(data-content="analysis.html")
        .analysis-date 29.06.2017
        h4.analysis-name Название анализа
        .analysis-status Будет доступен онлайн до 29.06.2017
