.article
    h3.h3 Вы впервые в личном кабинете
    .article-body
        p Для безопасности данных мы просим вас подтвердить ваш телефон и сменить пароль.
        a.btn.btn-default.ajax-link(data-content="main4.html") Продолжить
    .article-footer
        p.text-sm.color-weak
            | Нажимая кнопку Продолжить я соглашаюсь
            | с правилами использования сервиса,
            | а также передачей, хранением и обработкой
            | моих личных данных
