footer
    .footer-inner
        ul.footer-nav
            li
                a(href="#").footer-nav__link Основной сайт Клиники Нуриевых
            li
                a(href="#").footer-nav__link Инфомат
            li
                a(href="#").footer-nav__link Правила
