form.nn-form
    h3.h3 Личный кабинет
    .form-body
        .form-group
            label Введие ваш телефон
            input.form-control.form-control-phone(placeholder="ваш телефон" type="tel")
    button.btn.btn-default.ajax-link(data-content="main2.html") Далее
    .form-footer.align-center
        a(href="#").link-default.color-weak Забыли пароль?
