form.nn-form
    h3.h3 Личный кабинет
    .form-body
        .form-group
            label Введите ваш телефон
            .form-control__wrap-phone
                .phone-input__code
                    | +7
                    input(type="hidden" name="code" value="+7")
                input.form-control.form-control-phone.js-input-v(placeholder="ваш телефон" type="tel" value="+7")
    button.btn.btn-default.ajax-link(data-content="main2.html") Далее
