header
    .header-inner
        .header-top
            .header-logo
                img(src="img/svg/nnlogo.svg")
            .header-btn
                i
                i
            a(href="#").link-out.visible-sm Выход
        nav.nav
            ul.header-breadcrumbs
                li
                    a(href="#").breadcrumbs-link.active.ajax-link(data-content="analysis.html") Анализы
                li
                    a(href="#").breadcrumbs-link.ajax-link(data-content="profile.html") Профиль
                li
                    a(href="#").breadcrumbs-link Возможный раздел
            ul.header-nav
                li
                    a(href="#").nav-link Основной сайт
                li
                    a(href="#").nav-link Инфомат
                li
                    a(href="#").nav-link Выход
        .header-bottom
            .breadcrumbs-link.active.ajax-link(data-content="analysis.html") Анализы
