include ../components/header
.body-container
    .container.container--analysis
        .analysis-page
            .analysis-page__top
                a(href="#").btn.btn-green Скачать
            .analysis-page__content
                h3.h3 Общий анализ крови
include ../components/footer
