.body-container.body-container--left
    .container
        form.nn-form.text-dark
            h4.h4 Восстановление пароля
            .form-body
                .form-group
                    label Введите код, отправленный вам на номер +7 987 223 78 69
                    input.form-control(placeholder="Ваш код")
            button.btn.btn-default.ajax-link(data-content="forgotPassword3.html") Далее
            .form-footer
                a(href="#").link-default.text-sm.text-dark Отправить повторно ( 30 с )
.body-container.body-container--right
