.body-container.body-container--left
    .container
            a(href="#").nn-logo-link
                img(src="img/svg/nn-green.svg").nn-logo
            form.nn-form.text-dark
                h4.h4 Восстановление пароля
                .form-body
                    .form-group
                        label Введите ваш номер телефона
                        .form-control__wrap-phone
                            .phone-input__code
                                | +7
                                input(type="hidden" name="code" value="+7")
                            input.form-control.form-control-phone(placeholder="Ваш телефон" type="tel")
                button.btn.btn-default.ajax-link(data-content="forgotPassword2.html") Далее
.body-container.body-container--right
