.body-container.body-container--left
    .container
            form.nn-form.text-dark
                h4.h4 Восстановление пароля
                .form-body
                    .form-group
                        label Введите ваш номер телефона
                        input.form-control.form-control-phone(placeholder="Ваш телефон" type="tel")
                button.btn.btn-default.ajax-link(data-content="forgotPassword2.html") Далее
.body-container.body-container--right
