.body-container.body-container--left
    .container
        form.nn-form
            h3.h3 Вход в личный кабинет
            .form-body
                .form-group
                    label Введие ваш телефон
                    input.form-control.form-control-phone(placeholder="ваш телефон" type="tel")
                .form-group
                    input.form-control(placeholder="Пароль" type="password")
                    .input-error Текст ошибки
            button.btn.btn-default.ajax-link(data-content="main3.html") Войти
            .form-footer.align-center
                a(href="#").link-default.color-weak Забыли пароль?
.body-container.body-container--right
