.body-container.body-container--left
    .container
        a(href="#").nn-logo-link
            img(src="img/svg/nn.svg").nn-logo
        include ../components/article
.body-container.body-container--right
