.body-container.body-container--left
    .container
        form.nn-form
            .icon-password
            h3.h3 Придумайте свой пароль
            .form-body
                .form-body__top
                    | Пароль должен содержать
                    | латинские буквы и цифры,
                    | мимнимум 8 знаков
                .form-group.form-group--bottom
                    input.form-control(placeholder="Пароль" type="password")
                .form-group
                    input.form-control(placeholder="Повторите пароль" type="password")
            button.btn.btn-default.ajax-link(data-content="personal.html" data-bg="true") Установить пароль
.body-container.body-container--right
