include ../components/header
.body-container
    .container.container--personal
        .nn-personal
            .personal-name.ajax-link(data-content="profile.html") Зайцев Михаил Сергеевич
            .personal-info
                span.color-gray № ЭМК
                |&nbsp;339876
        ul.list-default.list-analysis
            li
                include ../components/analysis
            li
                include ../components/analysis
            li
                include ../components/analysis
include ../components/footer
