include ../components/header
.body-container
    .container
        form.nn-form.text-dark
            .phone-title +7 987 333 78 69
            .form-body
                .form-body__top Введите код, который вы получили на телефон
                .form-group
                    input.form-control.js-input-v(placeholder="Ваш код")
            button.btn.btn-default.ajax-link(data-content="profile4.html") Далее
            .form-footer
                a(href="#").link-default.text-sm.text-dark Отправить повторно ( 30 с )
include ../components/footer
