include ../components/header
.body-container
    .container.container--profile
        .nn-profile
            .profile-title Удалить личный кабинет?
            .profile-text
                | Все результаты анализов удалятся, и будут
                | доступны только в регистратуре клиники.
                | При повторной регистрации будут доступны только новые результаты анализов.
            .btn-group
                a(href="#").btn.btn-green.btn-sm Отмена
                a(href="#").btn.btn-invert.btn-sm Удалить ЛК
include ../components/footer
