include ../components/header
.body-container
    .container.container--profile
        .nn-profile
            .profile-title Вы хотите удалить документ из личного кабинета?
            .profile-text
                | Если вы удалите результаты анализа,
                | они будут не доступны в личном кабинете
                | и получить их можно будет только в регистратуре Клиники Нуриевых.
            .btn-group
                a(href="#").btn.btn-green.btn-sm Отмена
                a(href="#").btn.btn-invert.btn-sm Удалить
include ../components/footer
