include ../components/header
.body-container
    .container.container--profile
        .nn-profile
            .profile-title Закрыть доступ к личному кабинету?
            .profile-text
                | Если вы закроете доступ,
                | возобновить доступ можно будет
                | только после получения нового
                | пароля в клинике.
            .btn-group
                a(href="#").btn.btn-green.btn-sm Отмена
                a(href="#").btn.btn-invert.btn-sm Закрыть доступ
include ../components/footer
